@font-face {
	font-family: 'Primaryfont';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/ERASLGHT.woff') format('woff');
}

#banner1{
  font-family: Primaryfont;
  font-size: 14px;
  text-align: left;
  top: 50%;
  color:#00A946;
}
